---
import RootLayout from "$/layouts/RootLayout.astro";
import type {
  GetStaticPaths,
  InferGetStaticParamsType,
  MarkdownHeading,
} from "astro";
import { getCollection, getEntry } from "astro:content";
import SlideOutPanel from "$/components/SlideOutPanel";
import * as dndStyles from "$/styles/dnd.css";
import * as styles from "./slug.css";
import { assignInlineVars } from "@vanilla-extract/dynamic";
import { Image } from "astro:assets";

export const getStaticPaths = (async () => {
  const allHomebrew = await getCollection("homebrew");
  return allHomebrew.map((item) => ({
    params: {
      slug: item.slug,
    },
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params as InferGetStaticParamsType<
  typeof getStaticPaths
>;

const entry = await getEntry("homebrew", slug);

const { Content, headings } = await entry.render();

const filterOutHiddenHeadings = (
  headings: MarkdownHeading[],
): MarkdownHeading[] => {
  let isAfterHiddenHeading = false;
  return headings.filter((heading) => {
    if (heading.depth === 1 && heading.slug === "hidden") {
      isAfterHiddenHeading = true;
    }
    return !isAfterHiddenHeading;
  });
};

const tableOfContentHeadings = filterOutHiddenHeadings(headings)
  .filter((heading) => heading.depth > 1)
  .map((heading) => ({
    ...heading,
    depth: heading.depth - 1,
  }))
  // If the only heading is the "Credits" heading, don't show the table of contents
  .filter((heading, _, arr) => arr.length > 1 && heading.slug !== "credits");
---

<script>
  import { elementIsTooWideForScreen, wrapElement } from "$/utils";

  const tables = document.querySelectorAll("table");

  tables.forEach((table) => {
    if (elementIsTooWideForScreen(table, 16)) {
      const wrapper = document.createElement("div");
      wrapElement(table, wrapper);

      wrapper.classList.add("scroll-h");
    }
  });
</script>

<RootLayout title={entry.data.title} ogImage={entry.data.banner}>
  {
    entry.data.banner && (
      <Image
        class={styles.bannerImage}
        style={assignInlineVars({
          [styles.varBannerYPosition]: entry.data.bannerYPosition ?? "50%",
        })}
        width="2400"
        height="500"
        loading="lazy"
        decoding="async"
        alt="banner"
        transition:name={`${entry.slug}-banner`}
        src={entry.data.banner}
      />
    )
  }
  {
    tableOfContentHeadings.length > 0 && (
      <SlideOutPanel
        client:load
        class:list={[styles.slideOutPanel, dndStyles.dndContainer]}
        closeOnClickSelector={`.${styles.tableOfContents} a`}
      >
        <ol class={styles.tableOfContents}>
          {tableOfContentHeadings.map((heading) => (
            <li
              class={styles.tableOfContentsListItem}
              style={`--depth: ${heading.depth}`}
              data-depth={heading.depth}
            >
              <a href={`#${heading.slug}`}>{heading.text}</a>
            </li>
          ))}
        </ol>
      </SlideOutPanel>
    )
  }
  <div class={styles.wrapper}>
    <div class:list={[dndStyles.dndContainer, styles.content]}>
      <Content />
    </div>
  </div>
</RootLayout>
